.info {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
    background-color: rgb(255, 255, 255, 0.25);

    @media (max-width: 960px){
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.title {
    margin-left: 16px;
    margin-top: 8px;
}